.form-group{
    padding: 1rem;
}

.input{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;    
    border: 1px solid gray;
}

.popup{
    width: 50%;
}

@media (max-width: 599px) {
    .popup{
        width: 90%;
    }
}